<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Storage" value="D:\Storage" />
    <add key="ForceLog" value="True" />
    <add key="SilentMode" value="False" />
    <add key="aspnet:DontUsePercentUUrlEncoding" value="true" />
  </appSettings>
  <connectionStrings>
    <add name="DriveConnectionString" connectionString="Data Source=10.190.173.134\support6;Min Pool Size=0;Max Pool Size=100;Pooling=true;Initial Catalog=Drive;Persist Security Info=True;User ID=sa;Password=iqchina" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>